
<div class="col-xs-12 col-sm-9" >
    <div class="content" id="content_recettes_new">

        <h1 class="page-title">Nouvelle recette</h1>
        <section class="section">
            <form action="#">
                <div class="row">
                    <div class="col-xs-6">
                        <p class="line">
                            <label for="">Le nom de votre recette</label>
                            <input type="text" class="mb0 wide" required>
                        </p>
                        <p class="line" ng-controller="CatagoryCtrl">
                            <label for="">Catégorie</label>
                            <select name="" id="" class="mb0 wide">
                                <option value="all">Toutes les catégories</option>
                                <option value="meat" ng-repeat="categorie in category " > {{ categorie.nameToDisplay }}</option>
                            </select>
                        </p>
                        <p class="line">
                            <label for="">Préparation de votre recette</label>
                            <textarea id="recette_desc" class="resizable mb0 wide" required></textarea>
                        </p>
                    </div>
                    <div class="col-xs-6" ng-controller="uploadImage">
                        <p class="line">
                            <label for="">Photo de la recette</label>
                            <input type="file" class="mb0" id="file" ngf-change="onChange($files)" ngf-select ng-model="picFile" name="attachement" accept="image/png, image/jpeg, image/jpg, application/msword, application/vnd.ms-excel, application/pdf">
                        </p>
                        <p class="line ac">
                            <img class="current_img"  alt="Visuel recette" ng-if="isImage(fileExt)" ngf-src="picFile[0]" src="img/recette_placeholder.jpg">
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <div class="hr mt2 mb2"></div>
                    </div>
                    <div class="col-xs-12">
                        <p class="line ac">
                            <label for="">Sélectionnez tous les ingrédients de votre recette</label>
                        </p>
                        <p class="ac" ng-controller="CatagoryCtrl">
                            <select name="" id="">
                                <option value="all">Toutes les catégories</option>
                                <option value="meat" ng-repeat="categorie in category " ng-model="nameToDisplay" ng-change="nameToDisplay"> {{ categorie.nameToDisplay }}</option>
                            </select>
                            <span class="span-label"><span class="glyphicon glyphicon-menu-right nm"></span></span>
                            <select name="" id="" ng-controller="ingredientCtrl">
                                <option value="all">Toutes les ingrédients</option>
                                <option value="meat" ng-repeat="ingredient in ing | filter : nameToDisplay   : category   "> {{ ingredient.name }}</option>
                            </select>
                            <button type="button" class="btn btn_color3"><span class="glyphicon glyphicon-plus"></span></button>
                        </p>
                        <div class="ingredients_list">
                            <ul class="list ac">
                                <li class="item">
                                    <img class="item-img" src="img/ingredients/tomate.jpg" alt="tomate">
                                    <p class="item-name" title="tomate">tomate</p>
                                    <button type="button" class="remove_ingredient"><span class="glyphicon glyphicon-remove"></span></button>
                                </li>
                                <li class="item">
                                    <img class="item-img" src="img/ingredients/raisin.jpg" alt="raisin">
                                    <p class="item-name" title="raisin">raisin</p>
                                    <button type="button" class="remove_ingredient"><span class="glyphicon glyphicon-remove"></span></button>
                                </li>
                                <li class="item">
                                    <img class="item-img" src="img/ingredients/kiwi.jpg" alt="kiwi">
                                    <p class="item-name" title="kiwi">kiwi</p>
                                    <button type="button" class="remove_ingredient"><span class="glyphicon glyphicon-remove"></span></button>
                                </li>
                                <li class="item">
                                    <img class="item-img" src="img/ingredients/pasteque.jpg" alt="pasteque">
                                    <p class="item-name" title="pasteque">pasteque</p>
                                    <button type="button" class="remove_ingredient"><span class="glyphicon glyphicon-remove"></span></button>
                                </li>
                            </ul>
                        </div>
                        <div class="ac">
                            <p class="recette_total_calories">
                                <span class="tit">Valeur calorique <span class="mass">(100g)</span> : </span><span class="val">270<span class="unit">kcal</span></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="hr mb2"></div>
                    </div>
                    <div class="col-xs-12 ac">
                        <button type="button" class="btn btn_color3 recette_save"><span class="glyphicon glyphicon-ok mr0"></span><span>Valider ma recette</span></button>
                    </div>
                    <!-- Afficher au clic sur "valider ma recette" lorsque tout s'est bien déroulé -->
                    <div class="col-xs-12">
                        <p class="ac mt2 tb">
                            <span class="glyphicon glyphicon-thumbs-up color3"></span>
                            <span>Votre recette a bien été ajoutée !</span>
                        </p>
                        <p class="ac">
                            <a class="btn btn_color1" href="communaute_details.html"><span class="glyphicon glyphicon-cutlery"></span><span>Mes recettes</span></a>
                        </p>
                    </div>
                    <!-- Afficher au clic sur "valider ma recette" si certains éléments sont manquants -->
                    <div class="col-xs-12">
                        <p class="ac mt2 tb">
                            <span class="glyphicon glyphicon-exclamation-sign color2"></span>
                            <span>Woops ! Votre recette est super foireuse</span>
                        </p>
                        <p class="ac">Vous avez dû oublier quelque chose...</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>